/*@import url('normalize.css');*/
html{
	height: 100%;
}
body{
	font-family: 'Open Sans Condensed','Arial Narrow', serif;
	font-weight: 400;
	font-size: 15px;
	color: #333;
	background: #fff url() no-repeat top right;
	background-attachment: fixed;
	background-size: cover;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	overflow-x: hidden;
}
@font-face {
	font-family:'icon';
	src: url('../fonts/icon.eot');
	src: url('../fonts/icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon.woff') format('woff'),
		url('../fonts/icon.ttf') format('truetype'),
		url('../fonts/icon.svg#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*a{
	color: #555;
	text-decoration: none;	
}*/
.container{
	width: 100%;
	min-width: 320px;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.container > header{
	margin: 10px;
	padding: 10px;
	position: relative;
	display: block;
    text-align: left;
}
.container > header h1{
	font-size: 36px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	font-weight: 300;
	color: #333;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.container > header h1 span{
	font-weight: 700;
}
.container > header h2{
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #6190ca;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.rw-wrapper{
	width: 70%;
	position: relative;
	margin: 110px auto 18.5%  auto;
	padding: 10px;
}
@media screen and (max-width: 768px){
	.rw-wrapper{
		margin: 110px auto 29.5%  auto;
	}
}
@media screen and (max-width: 320px){
	.navbar-default{
		margin-top: -21.5em;
	}
}
.rw-sentence{
	margin: 0;
	text-transform: uppercase;
	font-weight: 600;
	text-shadow: 0 0 0 rgba(0,0,0,0.0001);
	font-size: 22.5px;!important
}
.rw-sentence span{
	color: #000;
	white-space: nowrap;
	font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
}
.rw-sentence > span:first-child{
	display: block;
	text-indent: 5px;
	font-size: 145%;
}
.rw-words{
	width: 100%;
	height: 75px;
	font-size: 14.5px;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.rw-words span{
	position: absolute;
	width: 100%;
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
	font-family: "Open Sans Condensed",Helvetica,Arial,sans-serif;
}
.rw-words-1 span{
	font-size: 500%;
	line-height: 82%;
	-webkit-animation: rotateWordsFirst 18s linear infinite 0s;
	-ms-animation: rotateWordsFirst 18s linear infinite 0s;
	animation: rotateWordsFirst 18s linear infinite 0s;
}
.rw-words-2 span{
	font-size: 300%;
	font-style: italic;
	text-indent: 5px;
	line-height: 90%;
	color: #da0a0a;	
	-webkit-animation: rotateWordsSecond 18s ease-in infinite 0s;
	-ms-animation: rotateWordsSecond 18s ease-in infinite 0s;
	animation: rotateWordsSecond 18s ease-in infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}
@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsFirst {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -ms-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-transform: translateZ(600px) translateX(200px);}
    8% { opacity: 1; -webkit-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
    0% { opacity: 0; -ms-transform: translateZ(600px) translateX(200px);}
    8% { opacity: 1; -ms-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-transform: translateZ(600px) translateX(200px); transform: translateZ(600px) translateX(200px);}
    8% { opacity: 1; -webkit-transform: translateZ(0px) translateX(0px); transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@media screen and (max-width: 1060px){
	.rw-words{ height: 55px; }
	.rw-words-1 span{ font-size: 280%; text-indent: 5px;}
	.rw-words-2 span { font-size: 160%; }
}
@media screen and (max-width: 560px){
	.rw-words{ height: 40px; }
	.rw-words-1 span{ font-size: 180%; text-indent: 5px;}
	.rw-words-2 span { font-size: 90%; }
	.rw-sentence > span:first-child{ font-size: 80%;}
}
@media screen and (max-width: 400px){
	.rw-words{ height: 30px; }
	.rw-words-1 span{ font-size: 140%; text-indent: 5px;}
	.rw-words-2 span { font-size: 70%; }
	.rw-sentence > span:first-child{ font-size: 60%;}
}
.rw-sentence-IE{
	display: none;
	padding: 30px;
}

@media screen and (max-width: 768px){
	.navbar-header{
		float: left;!important	
		}
	}
@media (min-width: 768px){
	.navbar-nav {
	font-size: 2.4em;
	font-weight: bold;
	}
}
nav.navbar{
	margin-bottom: 0;	
}
#nav-wrapper a{
	
}
#nav-wrapper a:hover{
	color:#fff;
	background-color:#0088cc;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color:#fff;
	background-color:#0088cc;	
}
#section1-wrapper{
	height: 100%;
	background-color: #0088cc;
}
#section1-wrapper .container, #section2-wrapper .container{
	text-align: center;
}
#section1-wrapper header{
	font-size: 7em;
	font-weight: bolder;
	text-transform: uppercase;
	margin: 0 auto;
	color: #fff;
	border-bottom: 2px solid #fff;
}
#section1-wrapper header{
	padding: 0 11px;
}

#section1-wrapper .box-text{
	padding: 10px 30px 10px 30px;
	border: 3px solid #fff;
	color: #efefef;
	margin: 0 auto;
	margin: 2% 0 2% 0;
}
.box-text article {
	padding-top: 10px;
	font-size: 2em;
}
.box-text img{
	position: relative;
	float: right;
	margin-top: -8em;
	width: 6em;	
}
.box-text .width-fix{
	width: 12%;
}
#section2-wrapper{
	height: 100%;
	background-color: #fff;
	border-bottom: 3px solid #fff;
	border-top: 1px solid #000;
}
#section2-wrapper header{
	font-size: 2em;
	font-weight: bolder;
	margin: 0 auto;
	color: #0088cc;
	border-bottom: 2px solid #fff;
}
#section2-wrapper article li{
	display: block;
	margin: 0 auto 0.35em auto;
	border-radius: 100%;
	background: transparent;
	font-size: 6.75em;
	width: 1.6em;
	height: 1.6em;
	line-height: 1.7em;
	text-align: center;
	box-shadow: 0 0 0 1px #dee0e3;
	cursor: default;
	list-style: none;
}
.icon:before{
	font-family: 'icon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.resposive:before{
	content: '\e001';
}
.Bootstrap-Framework:before{
	content: '\e002'
}
.Mobile-Fisrt:before{
	content: '\e600'
}
.Personalisable:before{
	content: '\e003'
}
#section3-wrapper{
	color:#da0a0a;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
#section3-wrapper .vcard a{
	text-decoration: none;
}
#section3-wrapper .vcard {
	border:3px solid #dee0e3;
	margin: 10px auto 10px auto;
	width: 60%
}
#section4-wrapper{

}
#footer-wrapper{
	background-color: #232323;
	color: #fff;
	padding: 1%;
	font-size: 1em;
	border-top: 1px solid #000;
}

#footer-wrapper span{
	margin-left: -1.2%;

}